<div class="text-center">
  <h1>管理者トップページです</h1>
  <p><%= link_to "society一覧へ", admin_societies_path %></p>
  <p><%= link_to "user一覧へ", admin_users_index_path %></p>
  <p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
</div>